.action {
    text-align: center;
}

.control {
    text-align: center;
    width:100%;
}

.control-side {
    text-align: center;
    width:50%;
}

.padding-top {
    padding-top:25px;
}

.padding-bottom {
    padding-bottom:25px;
}

.padding-top-bottom {
    padding-top:25px;
    padding-bottom:25px;
}